.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

}