.sub-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}