.photo {
    position: relative;
}

.photo:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.6s ease-out;
}

@media (max-width: 768px) {
    .photo {
        max-width: 369px;
    }
}
