.title{
    margin-bottom: 45px;
    color: #f9fafe;
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .title {
        font-size: 45px;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 30px;
    }
}