.button_boat {
    padding: 13px 13px 13px 35px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 0;
    background: url("../../../assets/images/boat.png") 10px center no-repeat #e7434e;
}

.button_boat:hover{
    font-size: 20px;
}