.top-section__block {
    margin-bottom: 150px;
    padding-top: 300px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 576px) {
    .top-section__block {
        padding-top: 200px;
    }
}